@page "/"
@using SRMRDisplay.Data
@inject VerticalBarGraphManager barDisplayManager

<div style="position: fixed; left:0; height:100%; width:50%;">
    <h5>zum Ausprobieren:</h5>
    <p>@status</p>
    <textarea style="width: 95%; font-family: 'Courier New'" rows="50" @bind="jsonModel" @onblur="@TriggerRefreshInput">
    
    </textarea>

</div>
<div style="position: fixed; right: 0; height:100%; width:50%;">
    @if (srGraph == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div style="display:flex">
            <VerticalBarGraph Model="srGraph"></VerticalBarGraph>
            <div style="width:30px;"></div>
            <VerticalBarGraph Model="mrGraph"></VerticalBarGraph>
        </div>
        
    }

</div>

@code{
    private VerticalBarGraphModel srGraph;
    private VerticalBarGraphModel mrGraph;

    private string status = "";

    private string jsonModel;
    private string lastRenderedJson;

    private void TriggerRefreshInput()
    {
        if (lastRenderedJson != jsonModel)
        {
            status = "updating...";
            barDisplayManager.UpdateFromJson(jsonModel);
            UpdateGraphs();
            lastRenderedJson = jsonModel;
            status = $"updated {DateTime.Now}";
        }
        else
        {
            status = "up to date";
        }
    }

    protected override void OnInitialized()
    {
        UpdateGraphs();
        jsonModel = barDisplayManager.ToJson();
    }

    private void UpdateGraphs()
    {
        srGraph = barDisplayManager.GetByName("SR");
        mrGraph = barDisplayManager.GetByName("MR");
    }
}
